<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexSina">
        <method name="registerApp"></method>
        <method name="sendTextContent"></method>
        <method name="sendImageContent"></method>
        <method name="cleanUserInfo"></method>
	</plugin>
</uexplugins>
